<div class="container mt-5">
    <h2>User List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Mobile No</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.mobileno }}</td>
          <td>
            <button class="btn btn-primary" (click)="show(user.id)">Details</button>

            <button class="btn btn-warning" (click)="editUser(user.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>